---
import LinkButton from "./LinkButton.astro";

import Link from "../icons/Link.astro";
import React from "../icons/React.astro";
import GitHub from "../icons/GitHub.astro";
import Tailwind from "../icons/Tailwind.astro";

import type { JSX } from "astro/jsx-runtime";

interface Tag {
  name: string;
  class: string;
  icon: JSX.Element;
}

interface Project {
  title: string;
  description: string;
  link: string;
  github: string;
  image: string;
  tags: Tag[];
}

const TAGS: Record<string, Tag> = {
  REACT: {
    name: "React",
    class: "text-white bg-gray-800",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwindcss",
    class: "text-white bg-gray-800",
    icon: Tailwind,
  }
}

const PROJECTS: Project[] = [
  {
    title: "Portafolio de Diseñadora",
    description: "Portafolio de Laura Martinez con responsive design.",
    link: "https://laura-design.vercel.app/",
    github: "https://github.com/poncho29/laura-design",
    image: "/projects/designer-portfolio.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  }
];
---

<div class="flex flex-col gap-y-16">
  {PROJECTS.map(({ title, description, link, github, image, tags }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div
          class="relative flex flex-col items-center col-span-6 row-span-5 gap-8transition duration-500
          ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1
          md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
        >
          <img
            src={image}
            alt="Recién llegado vs 5 años en Nueva Zelanda"
            loading="lazy"
            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110
            md:group-hover:scale-105"
          />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          {title}
        </h3>
        <div class="flex flex-wrap gap-2 mt-2">
          <ul class="flex flex-row gap-x-2 lg:mb-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>

          <div class="text-gray-700 dark:text-gray-400 lg:mt-2">{description}</div>

          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
                
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
        </div>
      </div>
    </article>
  ))}
</div>